.simpleautocomplete-selector {
  max-height: 200px;
  border: 1px solid #333;
  padding: 2px;
  background-color: #FFF;
}

.simpleautocomplete-selector .simpleautocomplete-suggestion {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  padding: 3px;
  cursor: pointer;
  color: #555555;
}

.simpleautocomplete-selector .simpleautocomplete-suggestion-selected {
  background-color: #F0F0F0;
  outline: 1px solid #C0C0C0;
}
